@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');




:root {
	--primary-color: #FBAD1C;
	--white-color: #fff;
	--black-color: #000;
	--body-color: #1e1e1e;
	--para-color: #ffffffc3;
	--main-font: "Fustat", serif;
}



html {
	/* scroll-behavior: smooth; */
	overflow-x: hidden;
}

body {
	font-family: var(--main-font) !important;
	overflow-x: hidden !important;
	background-color: var(--body-color);
}

a {
	text-decoration: none !important;
}

img {
	height: auto;
	max-width: 100%;
}

.color-yellow {
	color: var(--primary-color) !important;
}


/* Scrollbar */

::-webkit-scrollbar {
	width: 12px;
	/* Width of the scrollbar */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	border-radius: 6px;
}

/* Scrollbar Handle Hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--white-color)
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
	background: rgba(214, 214, 214, 0.03);
	border-radius: 6px;
}


/* Scrollbar */

/* To top Button */

#toTopBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	display: none; /* Hidden by default */
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 50%;
	padding: 15px;
	height: 55px;
	width: 55px;
	cursor: pointer;
	font-size: 16px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s, transform 0.3s ease;
  }

  #toTopBtn img{
	transform: rotate(270deg);
	filter: invert(1);
  }

  #toTopBtn:hover {
	transform: scale(1.1); /* Slight zoom effect */
  }

  /* To top Button */

/* Button start */

.animated-button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 10px 30px;
	border: 1px solid;
	border-color: transparent;
	font-size: 16px;
	background-color: inherit;
	font-weight: 600;
	color: var(--white-color);
	box-shadow: 0 0 0 1px #fff;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
	position: absolute;
	width: 24px;
	fill: #fff;
	z-index: 9;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
	right: 16px;
  }
  
  .animated-button .arr-2 {
	left: -25%;
  }
  
  .animated-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: #fbad1c;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
	position: relative;
	z-index: 1;
	transform: translateX(-12px);
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
	box-shadow: 0 0 0 12px transparent;
	color: #212121;
  }
  
  .animated-button:hover .arr-1 {
	right: -25%;
  }
  
  .animated-button:hover .arr-2 {
	left: 16px;
  }
  
  .animated-button:hover .text {
	transform: translateX(12px);
  }
  
  .animated-button:hover svg {
	fill: #212121;
  }
  
  .animated-button:hover .circle {
	width: 220px;
	height: 220px;
	opacity: 1;
  }
  


/* Button end*/




/* navbar */
.nav-box .main-button {
	display: block !important;
}

.sm-show-btn {
	display: none !important;
}


/* menu */

.menu-toggle {
	z-index: 25;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: relative;
}

.hamburger,
.cross {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu-icon-w-2 {
	width: 15px !important;
}

.menu-icon-w {
	width: 20px !important
}

.hamburger {
	span {
		display: block;
		width: 25px;
		height: 3px;
		margin-bottom: 3px;
		border-radius: 50px;
		overflow: hidden;
		position: relative;

		&:last-child {
			margin: 0;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 105%;
			height: 100%;
			background-color: var(--white-color);
			transform: translateX(-200%);
			transition: transform ease 300ms;
		}

		&:after {
			transform: translateX(0);
		}

		&:nth-child(2):before,
		&:nth-child(2):after {
			transition-delay: 75ms;
		}

		&:last-child:before,
		&:last-child:after {
			transition-delay: 150ms;
		}

		.menu-toggle:hover &:before {
			transform: translateX(0);
		}

		.menu-toggle:hover &:after {
			transform: translateX(200%);
		}

		.menu-toggle.active &:before {
			transform: translateX(100%);
		}

		.menu-toggle.active &:after {
			transform: translateX(200%);
		}
	}
}


.cross {
	span {
		display: block;
		width: 25px;
		height: 3px;
		border-radius: 50px;
		background-color: var(--white-color);
		transform: translateY(50%) rotate(45deg) scaleX(0);
		transition: transform ease 200ms;

		&:last-child {
			transform: translateY(-50%) rotate(-45deg) scaleX(0);
		}

		.menu-toggle.active & {
			transition-delay: 450ms;
			transform: translateY(50%) rotate(45deg) scaleX(1);
		}

		.menu-toggle.active &:last-child {
			transform: translateY(-50%) rotate(-45deg) scaleX(1);
		}
	}
}

.nsd-menu-fullscren li {
	margin-bottom: 5px;
}


.nsd-menu-overlay {
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	text-outline: 0 0 #000;
	position: fixed;
	left: 0;
	z-index: 11;
	padding-top: 200px;
	background: var(--body-color);

	&__content {
		height: 100vh;
		align-items: center;

		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;

		}

		&_part {
			vertical-align: middle;

			&__left {
				.fullscreen-single__item {
					opacity: 0;
					font-size: 54px;
					line-height: 80px;
					font-weight: 700;
					position: relative;
					vertical-align: top;
					display: block;

					.sub-menu {
						display: none;

						&__inner {
							position: relative;
							display: inline-block;
							vertical-align: middle;
							margin: 7px 0;
							font-size: 0.5em;
							line-height: 1.3em;
							font-weight: 400;
							color: #3d3c3c;

							&:not(:last-child) {
								padding-right: 15px;
								border-right: 1px solid
							}
						}
					}

				}
			}

			&__right {
				opacity: 0;

				& .nsd-menu__intro {
					text-align: center;
					margin: 20px 20px 60px 20px;

					&-title {
						text-transform: uppercase;
						font-size: 3.2em;
						padding-bottom: 1rem;

						@media (min-width:980px) {
							font-size: 4.2em;
						}
					}
				}
			}
		}
	}

}

.nsd-menu-fullscren {
	padding: 0px;
	margin: 0px;
}

.nsd-menu-fullscren li a {
	font-size: 45px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff4f;
    transition: .5s;
    background: linear-gradient(to right, rgb(251 173 28) 50%, rgb(64 64 64) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    background-clip: text;
}

.nsd-menu-fullscren li {
	transition: .5s;
	width: fit-content;
}


.nsd-menu-fullscren li:hover {
	margin-left: 10px;
	transition: .5s;

}

.nsd-menu-fullscren li:hover a {
	/* color: var(--white-color); */
	background-position: left bottom;
}

.nsd-menu-fullscren .has-sub .menu-arrow {
	font-size: 20px;
	margin-left: 5px;
}

.nsd-menu-fullscren .sub-menu__inner a {
	font-size: 20px;
	font-weight: 300;
}

.nsd-menu-fullscren .sub-menu__inner {
	position: relative;
	list-style: none;
	margin-bottom: 5px;
}

.nsd-menu-fullscren .sub-menu__inner::before {
	position: absolute;
	top: 8px;
	left: -25px;
	background-image: url(../img/menu-arrow.svg);
	background-repeat: no-repeat;
	content: "";
	background-size: 12px;
	width: 100%;
	height: 100%;
}

.nsd-menu-main {
	position: relative;
}

.menu-img {
	position: absolute;
	top: 50px;
	right: 150px;
	width: 250px;
}



/* menu */

.navbar-main {
	margin-top: 30px;
}

.nav-box {
	backdrop-filter: blur(60px);
	background: rgba(255, 255, 255, 0.04);
	border: 1px solid rgba(255, 255, 255, 0.27);
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 25px;
	transition: .5s;
}

.logo-width {
	width: 250px;
}

.nav-right-box {
	display: flex;
	align-items: center;
	gap: 10px;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	transition: background-color 0.3s ease;
	z-index: 1000;
}

#navbar.scrolled {
	background-color: var(--body-color);
	border-bottom: 1px solid #ebebeb1d;
	transition: .5s;
}

#navbar.scrolled .nav-box {
	background: transparent;
	border: none;
	transition: .5s;
	margin-top: 0px;
	padding: 0px;

}

/* navbar */


/* banner */

.banner {
	height: 170vh;
	width: 100%;
	background-image: url(../img/banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.banner-text h3 {
	color: var(--white-color);
	font-size: 50px;
	font-weight: 600;
}

.banner-text h3 span {
	color: var(--primary-color);
}

.banner-text p {
	color: var(--para-color);
	font-size: 16px;
}

.banner-text {
	text-align: center;
	padding-top: 200px;
}

.banner-text .main-button .animated-button{
	margin: auto;
}

.menu-ab-custom{
	display: flex;
	justify-content: center;
	position: relative;
}

.nav-bg-img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 110px;
    z-index: -1;
    opacity: .5;
}

.slider-section {
	height: 22vh;
	width: 100%;
	position: absolute;
	bottom: 400px;
}

.wheel {
	position: relative;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300vw;
	height: 300vw;
	max-width: 2000px;
	max-height: 2000px;
	left: 50%;
	transform: translateX(-50%);
}


.wheel__card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 300px;
	height: 350px;
	object-fit: cover;
	cursor: pointer;
	overflow: hidden;
	border-radius: 40px;
	border: 5px solid #fff;
}

.wheel__card img {
    width: 100%;
    pointer-events: none;
    z-index: 999;
    cursor: pointer;
    position: absolute;
    will-change: transform;
    border-radius: 35px;
    height: 100%;
    object-fit: cover;
}

.wheel__card .wheel-title {
	position: absolute;
	color: var(--white-color);
	z-index: 1331;
	opacity: 0;
	bottom: -30px; /* Start outside the view */
	text-align: center;
	transition:  0.6s; 
	font-size: 20px;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.614);
	padding: 20px 10px;
	width: 100%;
  }
  
  .wheel__card:hover .wheel-title {
	opacity: 1; 
	bottom: -10px;
	transition:  0.6s;
  }


/* banner abstract */

.banner-abstract img {
	width: 350px;
	display: block;
	margin: auto;
}

.banner-abstract {
	position: absolute;
	bottom: 30px;
	width: 100%;
}

/* about */

.about {
	min-height: 500px;
	background-image: url(../img/about-bg.svg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}



.marquee-row {
	width: 100%;
	overflow-x: hidden;
	backdrop-filter: blur(110px);
	background: rgb(255 255 255 / 5%);
	border-top: 1px solid rgba(255, 255, 255, 0.27);
	border-bottom: 1px solid rgba(255, 255, 255, 0.27);
	transform: rotate(358deg);
}

.marquee-first {
	margin-top: 50px;
}

.marquee-block {
	position: relative;
	display: flex;
	width: 100%;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	justify-content: space-between;
}

.marquee-item-list {
	display: inline-flex;
	padding: 20px 0px;
	margin: 0;
}

.marquee-item-list li {
	width: 100%;
	list-style: none;
	padding-right: 30px;
	padding-left: 15px;
	font-size: 25px;
	color: var(--white-color);
	white-space: nowrap;
	font-family: 'Ondo DEMO';
	text-transform: uppercase;
}

.marquee-item-list li span img {
	width: 15px;
}

.marquee-item-list li span {
	padding-left: 15px;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}


/* /dwc-section*/

.dwc-section-box img {
	width: 70px;
}

.dwc-section-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.dwc-section-box h5 {
	color: var(--white-color);
	font-size: 35px;
	font-weight: 600;
	margin: 0;
}

.dwc-section-box p {
	text-transform: uppercase;
	color: var(--para-color);
	font-size: 16px;
	margin: 0;
}


.dwc-section {
	margin-top: 100px;
}

.about-st-img {
	height: 500px;
	width: 100%;
	background: var(--white-color);
	padding: 5px;
	border-radius: 10px;
}

.about-st-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}


.section-title h4 {
	font-size: 16px;
	text-transform: uppercase;
	color: var(--white-color);
	position: relative;
	width: fit-content;
}

.section-title h4::after {
	content: "";
	position: absolute;
	width: 40px;
	top: 7px;
	right: -52px;
	height: 2px;
	background: linear-gradient(90deg, #fbad1c 31.83%, #fff 58.88%, #1e1e1e 100%);
}

.section-title h2 {
	font-size: 50px;
	font-weight: bold;
	position: relative;
	display: inline-block;
}



.main-para {
	font-size: 18px;
	color: var(--para-color);
	font-weight: 300;
}

/* about */

/* clients */

.cleint-main {
	position: relative;
}

.cl-rotating-1 {
	position: absolute;
	width: 250px;
	left: -150px;
	top: 100px;
	z-index: -1;
	opacity: .3;
}

.cleint-section {
	padding: 100px 30px;
}

.logo-box {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #222121;
	min-height: 120px;
	transition: all .5s;
	cursor: pointer;
}

.logo-box:hover{
	transition: all .5s;
    transform: translateY(-10px);
    box-shadow: 0px 37px 60px -15px rgba(50, 59, 79, 0.1);
}

.logo-box img {
	width: 150px;
}

.logo-box-st {
	background: var(--body-color) !important;
	border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* clients */

/* why choose */

.why-choose-us {
	position: relative;
	padding-top: 200px;
}

.why-choose-us::before {
	content: "";
	position: absolute;
	inset-inline-start: -25%;
	inset-block-start: 0;
	width: 150%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-image: linear-gradient(90deg, rgba(77, 137, 249, 0) 12%, #fff, var(--primary-color)32% 68%, rgba(237, 109, 75, 0) 87%);
	animation: rotate360 10s linear infinite;
	transform-origin: center;
	transform-box: fill-box;
	z-index: -2;
}

.why-choose-us::after {
	content: "";
	position: absolute;
	inset-inline-start: 50%;
	inset-block-start: .5rem;
	transform: translateX(-50%);
	width: 150%;
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--body-color);
	z-index: -1
}

@keyframes rotate360 {
	0% {
		transform: rotateZ(-80deg)
	}

	50% {
		transform: rotateZ(80deg)
	}

	100% {
		transform: rotateZ(-80deg)
	}
}

.why-choose-img {
	height: 350px;
	width: 65%;
	position: relative;
	border-radius: 20px;
	transform: rotate(345deg);
	margin-left: 35px;
}

.why-choose-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.why-choose-img::after {
	content: "";
	position: absolute;
	bottom: -30px;
	right: -30px;
	height: 260px;
	width: 250px;
	background: transparent;
	z-index: -1;
	border: 1px solid var(--primary-color);
	border-radius: 20px;
}


.counter {
	font-size: 40px;
	font-weight: bold;
	color: var(--white-color);
	position: relative;
}

.counter::after {
	position: absolute;
	content: "+";
	font-size: 40px;
	color: var(--white-color);
	font-weight: bold;
	top: 0px;
	right: -24px;
}

.counter-no-data::after {
	content: "" !important;
}

.counter-box {
	height: 100px;
	width: 200px;
	background: #ffffff03;
	border: 1px solid rgba(255, 255, 255, 0.27);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


.counter-box h6 {
	color: var(--white-color);
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
}

.counter-main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.ct-m-3 {
	margin: 10px 0px;
}


/* bg */

.parallax-bg {
	position: relative;
	height: 500px;
	display: flex;
	background-image: url(../img/section-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 150px 0px 80px 0px;
}

/* bg */


/* services */

.service-section {
	position: relative;
	padding: 100px 0px;
}

.sr-rotating-2 {
	left: auto;
	right: -150px;
	top: 100px;
}

/* .fixed-heading{
	position: sticky;
	top: 100px;
	position: -webkit-sticky;
  } */

.service-box {
	display: flex;
	position: relative;
	align-items: center;
	z-index: 1;
	padding: 28px 36px 28px 28px;
	overflow: hidden;
	margin-bottom: 20px;
}

.service-box::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	background-color: #292929;
	z-index: -1;
	clip-path: polygon(11.2% 0, 100% 0, 100% 76%, 89.1% 100%, 0 100%, 0 23.5%);
}

.serv-box-left {
	width: 50%;
}

.serv-img {
	height: 250px;
	width: 100%;
	clip-path: polygon(14.77% 0, 100% 0, 100% 81.8%, 85.19% 100%, 0 100%, 0 16.11%);
}

.serv-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.serv-box-right {
	padding: 15px 5px 15px 30px;
	width: 50%;
}

.serv-box-right h4 {
	color: var(--white-color);
	font-size: 30px;
	font-weight: 600;
}

.serv-box-right .divider {
	height: 1px;
	background: #ffffff35;
	margin: 10px 0px;
}

.serv-box-right p {
	color: var(--para-color);
	font-size: 15px;
	font-weight: 300;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	line-height: 1.5;
	max-height: calc(1.5em * 4);
}

.serv-ab-img img {
	position: absolute;
	right: -8px;
	top: 10px;
	width: 30px;
}

.serv-btn {
	width: 60px;
	height: 60px;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: end;
	align-items: end;
	background-color: var(--primary-color);
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	padding: 0 6px 7px 0;
	position: absolute;
}


.serv-btn svg {
	transform: rotate(315deg);
	font-size: 20px;
	transition: .5s;
	color: var(--black-color) !important;
}


.service-box:hover .serv-btn svg {
	transform: rotate(360deg);
	transition: .5s;
}


/* tech section */

.tech-main-section {
	padding: 80px 0px;
	width: 100%;
	background-image: url(../img/tech-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.section-title-center h4 {
	text-align: center !important;
	width: fit-content;
	margin: auto;
	display: block;
}

.section-title-center h4::before {
	content: "";
	position: absolute;
	width: 40px;
	top: 7px;
	left: -52px;
	height: 2px;
	background: linear-gradient(90deg, #fbad1c 31.83%, #fff 58.88%, #1e1e1e 100%);
	transform: rotate(-180deg);
}

.section-title-center {
	text-align: center;
}

.section-title-center .main-button .animated-button {
	margin: auto;
}

/* new */

.tech-main-box {
	position: relative;
	width: 80%;
	min-height: 400px;
	margin: 0 auto;
	margin-top: 70px;
}

.center-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.center-logo img {
	max-width: 250px;
	
}

.icon-block {
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(60px);
	background: rgba(255, 255, 255, 0.08);
	border: 1px solid rgba(255, 255, 255, 0.16);
	transition: all 1s;
}

.icon-block:hover{
	transition: all 1s;
	transform: translateY(-10px);
}


.icon-block img {
	margin: 0px auto;
	width: 60%;
	transition: .5s;
	/* animation: Rotate-reverse 20s linear infinite;
	-webkit-animation: Rotate-reverse 20s linear infinite; */
	
}

.icon-block:hover img{
	-webkit-transform:rotateY(-360deg);
	transition: 1s;
	
}


.lt-box-1 {
	left: 47%;
    top: -15px;
}

.lt-box-2 {
    left: 48%;
    top: 70px;
}

.lt-box-3 {
	left: 35%;
	top: 40px;
}

.lt-box-4 {
	left: 37%;
    top: 143px;
}

.lt-box-5 {
    left: 24%;
    top: 113px;
}

.lt-box-6 {
    left: 26%;
    top: 217px;
}

.lt-box-7 {
    left: 13%;
    top: 180px;
}

.lt-box-8 {
    left: 46%;
    top: 385px;
}

.lt-box-9 {
    left: 47%;
    bottom: 58px;
}

.lt-box-10 {
    left: 34%;
    top: 270px;
}


.lt-box-11 {
    left: 31%;
    top: 347px;
}

.lt-box-12 {
    left: 20%;
    top: 300px;
}



.lt-box-13 {
	right: 47%;
	top: 5px;
}

.lt-box-14 {
	right: 48%;
	top: 90px;
}

.lt-box-15 {
	right: 35%;
	top: 40px;
}

.lt-box-16 {
	right: 37%;
    top: 143px;
}

.lt-box-17 {
    right: 24%;
    top: 113px;
}

.lt-box-18 {
    right: 26%;
    top: 217px;
}

.lt-box-19 {
    right: 13%;
    top: 180px;
}

.lt-box-20 {
    right: 46%;
    top: 385px;
}

.lt-box-21 {
    right: 47%;
    bottom: 58px;
}

.lt-box-22 {
    right: 36%;
    top: 270px;
}


.lt-box-23 {
    right: 31%;
    top: 347px;
}

.lt-box-24 {
    right: 20%;
    top: 300px;
}


/* footer */
.footer {
	background-color: var(--body-color);
}

.footer-main-links h5 {
	font-size: 25px;
	font-weight: 600;
}

.footer-main-links h5 a {
	color: var(--white-color) !important;
}

.footer-main-links h6 {
	color: var(--primary-color);
	font-size: 22px;
	font-weight: 600;
}

.footer-para {
	font-size: 15px;
	color: #A1AAC9;
	font-weight: 300;
}

.footer-icons {
	display: flex;
	align-items: center;
	gap: 15px;

	svg {
		font-size: 20px;
		color: var(--white-color);
	}
}



.footer-links h6 {
	color: var(--white-color);
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.footer-links ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.footer-links li {
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: 300;
}

.footer-links ul li a {
	color: var(--para-color) !important;
}

.footer-links ul li a:hover {
	color: var(--primary-color);
}

.pr-ct-5 {
	padding-right: 30px;
}

.footer-divider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0px;
}

.footer-divider ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: inline;
}

.footer-divider li {
	display: inline-flex;
	gap: 10px;
	font-size: 15px;
	font-weight: 300;
	color: var(--white-color);
}

.ft-divider {
	border-right: 2px solid var(--white-color);
	padding-left: 10px;
	padding-right: 10px;
}

.footer-btm-links li a {
	color: var(--white-color);
}

.footer-line {
	height: 3px;
	width: 100%;
	background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, #ffffff 49.67%, rgb(255 255 255 / 0%) 100%);
	margin-top: 20px;
	margin-bottom: 0px;
}



/* loader */

body.loaded {
	overflow: hidden !important;
	height: 100% !important;
}

.fit-loader{
	width: 50%;
	margin: 0 auto;
	display: block;
}


.loader-wrap {
	position: fixed;
	z-index: 10;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: transparent;
	z-index: 99999999999999;
}

.loader-wrap svg {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	fill: var(--body-color);
}

.loader-wrap .loader-wrap-heading .load-text {
	font-size: 50px;
	font-weight: 500;
	text-transform: uppercase;
	z-index: 20;
	color: var(--primary-color);
}

.load-text span {
	-webkit-animation: loading 1s infinite alternate;
	animation: loading 1s infinite alternate;
}

.load-text span:nth-child(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.load-text span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.load-text span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.load-text span:nth-child(4) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.load-text span:nth-child(5) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.load-text span:nth-child(6) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.load-text span:nth-child(7) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.load-text span:nth-child(8) {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.load-text span:nth-child(9) {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.load-text span:nth-child(10) {
	-webkit-animation-delay: 0.10s;
	animation-delay: 0.9s;
}

.load-text span:nth-child(11) {
	-webkit-animation-delay: 0.11s;
	animation-delay: 0.10s;
}

.load-text span:nth-child(12) {
	-webkit-animation-delay: 0.12s;
	animation-delay: 0.11s;
}

.load-text span:nth-child(13) {
	-webkit-animation-delay: 0.13s;
	animation-delay: 0.12s;
}

.loader-wrap-heading {
	position: relative;
	text-align: center;
  }
  
  .loader-image {
	width: 100px; /* Adjust the size as needed */
	height: auto;
	margin: auto;
	margin-bottom: 5px; /* Space between the image and text */
	animation: loaderfadeIn 1s ease-in-out;
  }
  
  /* Optional fade-in animation for the image */
  @keyframes loaderfadeIn {
	0% {
	  opacity: 0;
	  transform: translateY(-20px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }

@-webkit-keyframes loading {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes loading {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}



/* <!-- ==================== Start Responsive ==================== --> */


@media only screen and (max-width: 1920px) {
	.banner {
		height: 140vh;
	}
}
@media only screen and (max-width: 1800px) {
	.banner {
		height: 160vh;
	}
}

@media only screen and (max-width: 1600px) {
	.banner {
		height: 170vh;
	}
}
@media only screen and (max-width: 1400px) {
	.cleint-section {
		padding: 100px 70px;
	}

	.section-title h2 {
		font-size: 40px;
	}
}

@media only screen and (max-width: 1200px) {
	.banner {
		height: 120vh;
	}

	.main-container {
		padding: 70px 0px;
		height: auto;
		min-height: auto;
	}
}

@media only screen and (max-width: 1100px) {
	.main-para {
		font-size: 16px;
		line-height: 32px;
	}

	.section-title h2 {
		font-size: 30px;
	}

	.serv-box-right {
		padding: 5px 5px 5px 20px;
		width: 50%;
	}

	.service-box::before {
		clip-path: polygon(11.2% 0, 100% 0, 100% 76%, 84.6% 100%, 0 100%, 0 23.5%);
	}

	.serv-img {
		height: 230px;
	}

	.serv-box-right h4 {
		font-size: 25px;
	}

	.banner-text p br {
		display: none;
	}

	.banner-text h3 {
		font-size: 40px;
	}

	.slider-section {
		height: 22vh;
		bottom: 200px;
	}

	.banner {
		height: 80vh;
	}
}

@media only screen and (max-width: 1024px) {
	.about-st-img {
		height: 400px;
	}

	.why-choose-img {
		width: 70%;
		height: 270px;
	}

	.why-choose-img::after {
		width: 90%;
	}

	.counter {
		font-size: 30px;
	}

	.counter::after {
		font-size: 30px;
	}

	.counter-box h6 {
		font-size: 14px;
	}

	.counter::after {
		right: -19px;
	}

	.dwc-section {
		margin-top: 50px;
	}

	.about {
		min-height: auto;
		padding-bottom: 50px;
	}

	.main-container {
		margin-top: 0px;
	}

	.section-title h4 {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 991px) {
	.slider-section {
		height: auto;
		bottom: auto;
	}

	.slider-section {
		position: relative;
		margin-top: 170px;
	}
	
	.menu-ab-custom{
		flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
	}
	
	.tech-main-box{
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px;
		min-height: auto;
	}

	.icon-block{
		position: relative;
		top: auto !important;
		left: auto !important;
		right: auto !important;
		bottom: auto !important;
	}

	.center-logo{
		display: none;
	}

	.tech-main-box{
		display: flex;
		gap: 5px;
		justify-content: center;
		flex-wrap: wrap;
	}

	/* .banner-abstract{
		display: none;
	} */
	.banner-abstract {
		position: relative;
		bottom: auto;
		margin-top: 250px;

	}

	.banner-abstract img {
		width: 200px;
	}

	.about-st-img {
		margin-bottom: 30px;
	}

	.why-choose-us {
		padding-top: 130px;
	}

	.why-choose-img {
		transform: none;
		width: 100%;
		height: 350px;
		margin-left: 0px;
		margin-bottom: 30px;
	}

	.service-section {
		padding: 0px 0px 20px 0px;
	}

	.section-title h2 {
		font-size: 22px;
	}

	.serv-img {
		height: 190px;
	}

	.section-title h4 {
		font-size: 14px;
	}

	.main-para br {
		display: none;
	}

	.tech-main-section {
		padding: 60px 0px 0px 0px;
	}

	.footer-map {
		margin: auto;
		display: block;
		margin-top: 30px;
	}

	.serv-box-right h4 {
		font-size: 17px;
	}

	.main {
		width: 600px;
		height: 600px;
	}

	.footer-icons {
		margin-bottom: 20px;
	}

	.footer-main-links {
		margin: 20px 0px;
	}

	.footer-links h6 {
		margin-bottom: 10px;
	}

	.custome-marquee {
		margin-top: 0px;
	}
	.loader-image {
		width: 60px;
	}
}

@media only screen and (max-width: 768px) {
	.cleint-section {
		padding: 30px 0px;
	}

	.main {
		width: 500px;
		height: 500px;
	}

	.banner {
		height: 90vh;
	}

	.nav-box {
		margin-top: 5px;
	}

	.marquee-first {
		margin-top: 20px;
	}

	.marquee-item-list li {
		font-size: 20px;
	}

	.main-para {
		font-size: 14px;
		line-height: normal;
	}
}


@media only screen and (max-width: 600px) {
	.banner-text {
		padding-top: 120px;
	}

	.logo-width {
		width: 170px;
	}

	.banner-text h3 {
		font-size: 30px;
	}

	.banner-text p {
		font-size: 14px;

	}

	.wheel__card {
		max-width: 150px;
		height: 150px;
	}

	.slider-section {
		margin-top: 130px;
	}

	.parallax-bg {
		height: 200px;
		margin: 50px 0px 50px 0px;
	}

	.circle {
		width: 40%;
		height: 40%;
	}

	.circle-2 {
		width: 65%;
		height: 65%;
	}

	.main {
		width: 400px;
		height: 400px;
	}

	.icon-block {
		width: 35px;
		height: 35px;
	}

	.footer-divider {
		flex-direction: column;
		padding: 10px 0px;
		gap: 10px;
	}

	.service-box {
		margin-top: 20px;
	}

	.service-box::before {
		clip-path: polygon(11.2% 0, 100% 0, 100% 76%, 88.6% 100%, 0 100%, 0 23.5%);
	}

	.main-button button {
		height: 45px;
		padding: 0px 35px;
		font-size: 14px;
	}

	.main-button button span img {
		width: 12px;
	}

	.footer-main-links h6 {
		font-size: 17px;
	}

	.footer-main-links h5 {
		font-size: 19px;
	}

	.logo-box {
		min-height: 80px;
	}

	.logo-box img {
		width: 130px;
	}

	.nav-box .main-button {
		display: none !important;
	}

	.sm-show-btn {
		display: block !important;
	}

	.loader-wrap .loader-wrap-heading .load-text {
		font-size: 20px;
	}

	/* addjust */

}

@media only screen and (max-width: 500px) {

	/* .wheel__card {
        max-width: 200px;
        height: 150px;
    } */
	.sr-rotating-2 {
		left: auto;
		right: -60px;
		top: 190px;
	}

	.cl-rotating-1 {
		width: 180px;
	}

	.serv-img {
		height: 150px;
	}

	.service-box {
		padding: 15px 36px 15px 28px;
	}

	.main {
		width: 300px;
		height: 300px;
	}

	.center-logo img {
		max-width: 140px;
	}

	.icon-block {
		width: 30px;
		height: 30px;
	}

	.why-choose-img {
		height: 200px;
	}

	.nsd-menu-fullscren li a {
		font-size: 30px;
	}

	.parallax-bg {
		background-attachment: scroll;
	}

	.about-st-img {
		height: 250px;
	}

	.logo-width {
		width: 150px;
	}

	.counter-box {
		height: 80px;
	}

	.counter {
		font-size: 25px;
	}

	.counter::after {
		font-size: 25px;
	}

	.serv-box-right p {
		font-size: 14px;
	}

	.dwc-section-box {
		gap: 10px;
		margin-bottom: 30px;
	}

	.dwc-section-box h5 {
		font-size: 25px;
	}

	.wheel__card {
		max-width: 180px;
	}
}


@media only screen and (max-width: 375px) {
	.banner-text {
		padding-top: 120px;
	}
}

/* <!-- ==================== End Responsive ==================== --> */




